examples/weatherforecast-basic.json
[
  {
    "id": "wfex1",
    "type": "tab",
    "label": "DWD Weatherforecast - Basic Example"
  },
  {
    "id": "wf_comment",
    "type": "comment",
    "z": "wfex1",
    "name": "DWD Weather Forecast - Basic Example",
    "info": "Demonstrates basic usage of the DWD Weatherforecast node:\n\n- manual trigger via Inject node\n- configuration of station ID (e.g. H721 for Cologne/Bonn)\n- viewing the full forecast payload in a Debug node\n\nYou can combine this with dashboard nodes or scorecards.",
    "x": 360,
    "y": 60,
    "wires": []
  },
  {
    "id": "wf_inject",
    "type": "inject",
    "z": "wfex1",
    "name": "Trigger forecast",
    "props": [
      {
        "p": "payload"
      }
    ],
    "repeat": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 170,
    "y": 140,
    "wires": [
      [
        "wf_node"
      ]
    ]
  },
  {
    "id": "wf_node",
    "type": "dwd-weatherforecast",
    "z": "wfex1",
    "name": "",
    "station": "H721",
    "sourceUrl": "",
    "fetchOnDeploy": true,
    "autoRefresh": 0,
    "maxHours": 24,
    "staleOnError": true,
    "onlyFuture": true,
    "coreOnly": false,
    "toC": true,
    "windToKmh": true,
    "pressureToHpa": true,
    "visibilityToKm": true,
    "windDirMode": "16",
    "diag": false,
    "x": 400,
    "y": 140,
    "wires": [
      [
        "wf_debug"
      ]
    ]
  },
  {
    "id": "wf_debug",
    "type": "debug",
    "z": "wfex1",
    "name": "Forecast result",
    "active": true,
    "tosidebar": true,
    "complete": "payload",
    "targetType": "msg",
    "x": 640,
    "y": 140,
    "wires": []
  }
]